$whiteFont:#FFF;
$hoverBlue:#408bb5;
$bgBlue:#031426;
$txtBlue:#05afff;
body{  
    background: url(../img/bg100.png);
    background-color: #031426;
    font-family: "microsoft yahei";
    min-width: 1000px;
}
.index-nav{
    margin: auto;
    height: 100px;
    position: absolute;
    z-index: 990;
    line-height: 100px;
    right: 0;
    left: 0;
    min-width: 1000px;
    .logo{
        display: inline-block;
        width: 400px;
        img{
            height: 60px;
        }
        
    }       
    nav{
        display: inline-block;
        a{
            padding: 0 20px;
            color: $whiteFont;
            font-size: 18px;
            &:hover{
                text-decoration: none;
            }
        }
    }
}

.index-describe{
    margin: 80px auto;
    h2{
        border-top: 1px solid #FFF;
        color: $whiteFont;
        text-align: center;
        padding: 40px 0;
    }
    p{
        letter-spacing: 2px;
        line-height: 26px;
        font-size: 16px;
        color: $txtBlue;
        span{
            color: #FFF;
            font-size: 40px;
        }
    }
}
.earth{
    display: block;
    margin: -60px 50px 30px 20px;
    float: right;
}
.moon{
    display: block;
    margin: -250px 0px 60px 20px;
    float: left;
}
.big-earth{
    width: 700px;
    margin-bottom: 100px;
}
.copyright{
    background-color: #39a1be;
    height: 60px;
    line-height: 60px;
    position: relative;
    color: #FFF;
    p{
        padding-left: 30px;
        margin: 0px;
    }
}

.kopp-banner{
    margin: 0 auto;
    padding-top: 150px;
    min-width: 1000px;
    img{
        width: 1000px;
    }
}

.kopp-describe{
    height: 300px;
    font-size: 18px;
    margin-bottom: 40px;
    h1{
        color: #FFF;
        font-size: 30px;
        letter-spacing: 2px;
        padding: 20px 0;
    }
    h2{
        font-size: 18px;
        color: $txtBlue;
        line-height: 28px;
    }
    p{
       @extend .kopp-describe;
       color: #FFF;
       padding-top: 20px;
       
    }
}
.bg-white{
    background-color: #FFF;
}
.bg-gray{
    position: relative;
    background-color: #fdfdfd;
}
.bg-gray,.bg-white{
    width: 100%;   
    position: relative;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    .kopp-describe p{
        color: #333;
    }
}

.kopp-left-txt{
    p{
        padding: 80px 0;
        letter-spacing: 3px;
        line-height: 36px;
        width: 450px;
        font-size: 18px;
        float: left;
        text-align: left;
    }
   
}

.kopp-top-txt{
    h1{
        padding: 60px 0;
        font-size: 30px;
    }
}

.kopp-right-pic{
    display: inline-block;
    float: right;
    img{
        width: 450px;
    }
}

.zhaohuanshi{
    padding-top: 50px;
    height: 900px;
    background: url(../img/zhaohuanshi1.jpg) no-repeat top center;
    background-color: #FFF;
    opacity:0.8;
    .zhaohuanshi-con{
        width: 1000px;
        height: 90%;
        background:rgba(255, 255, 255, 0.5) none repeat scroll 0 0 !important;
        filter:Alpha(opacity=80);
        background:#000;
        p{
            padding: 20px;
            letter-spacing: 3px;
            line-height: 36px;
            font-size: 18px;
            text-align: left;
        }
    }
}
.zhsxg{
    padding-top: 50px;
    float: right;
    height: 50px;
}

.taitan{
    width: 100%;
    height: 800px;
    background: url(../img/taitan.jpg) no-repeat center;
    .kopp-left-txt{
        padding-top: 80px;
        p{
            float: none;
            display: block;
            color: #888;
            padding: 0;
        }
    }
}

.luojie{
    
    p{
        padding: 20px;
        letter-spacing: 3px;
        line-height: 36px;
        font-size: 18px;
        text-align: left;
        margin: 0;
        height: 100%;
    }
    
    .luojie-top{
        height: 400px;
        h1{
            color: #333;
        }
    }
    .luojie-bottom{
        position: relative;
        padding: 60px 0;
        p{
            padding: 20px;
            display: inline-block;
            width: 60%;
        }
        img{
            padding: 20px;
            float: right;
            width: 40%;
        }
    }
}
#kopp-shoanian{
    position: absolute;
    height: 40px;
    width: 300px;
    padding-left: 15px;
    line-height: 40px;
    color: #498ecf;
    a{
        font-size: 20px;
        color: #498ecf;
        display: inline-block;
    }
    
    
}
