$whiteFont:#FFF;
$hoverBlue:#408bb5;
$bgBlue:#031426;
$txtBlue:#05afff;
body{  
    background: url(../img/bg100.png);
    background-color: #031426;
    font-family: "microsoft yahei";
    min-width: 1000px;
}
.index-nav{
    margin: auto;
    height: 100px;
    position: absolute;
    z-index: 990;
    line-height: 100px;
    right: 0;
    left: 0;
    min-width: 1000px;
    .logo{
        display: inline-block;
        width: 400px;
        img{
            height: 60px;
        }
        
    }       
    nav{
        display: inline-block;
        a{
            height: 80px;
            margin: 0 20px;
            color: $whiteFont;
            font-size: 18px;
            &:hover{
                text-decoration: none;
            }
        }
    }
}

.index-describe{
    margin: 30px auto;
    h2{
        border-top: 1px solid #FFF;
        color: $whiteFont;
        text-align: center;
        padding: 40px 0;
    }
    p{
        height: 180px;
        letter-spacing: 2px;
        line-height: 26px;
        font-size: 16px;
        color: $txtBlue;
        span{
            color: #FFF;
            font-size: 40px;
        }
    }
}
.earth{
    display: block;
    margin: -60px 50px 30px 20px;
    float: right;
}
.moon{
    display: block;
    margin: -250px 0px 60px 20px;
    float: left;
}
.big-earth{
    width: 700px;
    margin-bottom: 100px;
}
.copyright{
    background-color: #39a1be;
    height: 60px;
    line-height: 60px;
    position: relative;
    color: #FFF;
    p{
        padding-left: 30px;
        margin: 0px;
    }
}

.kopp-banner{
    margin: 0 auto;
    padding-top: 150px;
    min-width: 1000px;
    img{
        width: 1000px;
    }
}

.kopp-describe{
    height: 300px;
    font-size: 18px;
    margin-bottom: 40px;
    h1{
        color: #FFF;
        font-size: 30px;
        letter-spacing: 2px;
        padding: 20px 0;
    }
    h2{
        font-size: 18px;
        color: $txtBlue;
        line-height: 28px;
    }
    p{
       @extend .kopp-describe;
       color: #FFF;
       padding-top: 20px;
       
    }
}
.bg-white{
    background-color: #FFF;
}
.bg-gray{
    position: relative;
    background-color: #fdfdfd;
}
.bg-gray,.bg-white{
    width: 100%;   
    position: relative;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    .kopp-describe p{
        color: #333;
    }
}

.kopp-left-txt{
    p{
        padding: 80px 0;
        letter-spacing: 3px;
        line-height: 36px;
        width: 450px;
        font-size: 18px;
        float: left;
        text-align: left;
    }
   
}

.kopp-top-txt{
    h1{
        padding: 60px 0;
        font-size: 30px;
    }
}

.kopp-right-pic{
    display: inline-block;
    float: right;
    img{
        width: 450px;
    }
}

.zhaohuanshi{
    padding-top: 50px;
    height: 900px;
    background: url(../img/zhaohuanshi1.jpg) no-repeat top center;
    background-color: #FFF;
    opacity:0.8;
    .zhaohuanshi-con{
        width: 1000px;
        height: 90%;
        background:rgba(255, 255, 255, 0.5) none repeat scroll 0 0 !important;
        filter:Alpha(opacity=80);
        background:#000;
        p{
            padding: 20px;
            letter-spacing: 3px;
            line-height: 36px;
            font-size: 18px;
            text-align: left;
        }
    }
}
.zhsxg{
    padding-top: 50px;
    float: right;
    height: 50px;
}

.taitan{
    width: 100%;
    height: 800px;
    background: url(../img/taitan.jpg) no-repeat center;
    .kopp-left-txt{
        padding-top: 80px;
        p{
            float: none;
            display: block;
            color: #888;
            padding: 0;
        }
    }
}

.luojie{
    padding-bottom: 30px;
    p{
        padding: 20px;
        letter-spacing: 3px;
        line-height: 36px;
        font-size: 18px;
        text-align: left;
        margin: 0;
        height: 100%;
    }
    
    .luojie-top{
        height: 400px;
        h1{
            color: #333;
        }
    }
    .luojie-bottom{
        position: relative;
        padding: 60px 0;
        p{
            padding: 20px;
            display: inline-block;
            width: 60%;
        }
        img{
            padding: 20px;
            float: right;
            width: 40%;
        }
    }
}

.qietuzai-bg{
    padding-top: 100px;
}
.qietuzai{
    min-width: 1000px;
    width: 100%;
    height: 850px;
    background: url(../img/qietuzai.png) center no-repeat;
}
.abus-banner{
    padding-top: 200px;
    @extend .kopp-describe;
}
.abus-responsive{
    position: relative;
    height: 1000px;
    width: 100%;
    background: url(../img/abus.png) center no-repeat;
}
.develop-bg{
    width: 100%;
    height: 550px;
    h1{
        padding-top: 35px;
        font-size: 45px;
    }
}
.browser-con{
    display: inline-block;
    height: 100px;
    p{
        font-size: 20px;
        visibility: hidden;
    }
}
.browser-icon,{
    width: 90px;
    height: 90px;
    margin: 60px;
    margin-bottom: 0;
    background: url(../img/browser.png);
}
.webkit-icon{
    background-position: 0px 0px;
}
.gecko-icon{
    background-position: -90px 0px;
}
.trident-icon{
    background-position: -180px 0px;
}.iemore-icon{
    background-position: 0px -90px;
}.ie7-icon{
    background-position: -90px -90px;
}.ie6-icon{
    background-position: -180px -90px;
}

.abus-con-left{
    
}
.abus-bg{
    height: 370px;
}
.abus-con{
    display: inline-block;
    max-width: 500px;

    margin: 50px 0;
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
        color:$txtBlue;
        padding-bottom: 10px;
    }
    p,s,a{
        font-size: 16px;
    }
    a:hover{
        text-decoration: none;
    }
    img{
        display:inline-block;
        width: 200px;
    }
}
.erweima{
    h1{
        padding: 50px 0px;
    }
    padding: 50px 0px;
    img{
        width: 300px;
    }
}

.sea-banner-bg{
    position: relative;
    width: 100%;
    height: 800px;
    background: url(../img/sea-banner.png) center no-repeat;
}

.sea-txt{
    width: 50%;
    
    p{
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 2px;
        span{
            color: $hoverBlue;
            font-size: 26px;
        }
    }
}
.sea-img{
    margin: 10px 0;
    img{
        width: 300px;
    }
}
.sea-con{
    position: relative;
    padding: 50px 0;
    h1{
        font-size: 28px;
        color: $hoverBlue;
    }
}
.gray-block{
    height: 40px;
    font-size: 20px;
}
.haitun{
    width: 48%;
    p{
        display: inline-block;
    }
    float: left;
    display: block;
    padding: 20px 0;

}
.haitun-pic{
    img{
        width: 100%;
    }
}
.news-banner-bg{
    width: 100%;
    height: 900px;
    background: url(../img/news-banner.jpg) no-repeat center;
}


.news-banner-bottom{
    background-color: #39a1be;
    margin-top: -1px;
    p{
       height: 180px;
       padding-top: 20px;
       color: #FFF;
       font-size: 16px;
       line-height: 30px;
    }
    h1{
        color: #FFF;
        letter-spacing: 2px;
        font-size: 30px;
        .top-news{
            font-size: 16px;
            display: inline-block;
            padding-left: 20px;
            letter-spacing: 0px;
        }
    }
    .new-list{
        font-size: 16px;
    }
    div{
        color: #FFF;
        
        letter-spacing: 1px;
        span{
            font-size: 60px;
        }
    }
}
.news-one-bg{
    position: relative;
    img{
        width: 100%;
        display: block;
    }
    .news-one{
        margin-top: -5px;
        height: 400px;
        background-color: #040000;
        p{
            padding: 50px 0;
            font-size: 20px;
            color: #FFF;
        }
    }
}
.index-next-bg{
    width:100%;
    position: relative;
    height: 80px;
    color: #FFF;
    font-size: 20px;
    
    .index-next{
        line-height: 50px;  
        
        a{
            color: #FFF;
            &:hover{
                color: #FFF;
                text-decoration: none;
            }
        }
    }
    
}
.sea-next-bg{

    width:100%;
    position: relative;
    height: 50px;
    margin-top: -10px;
    font-size: 20px; 
    background-color: #fefefe;     
    padding-bottom: 20px;  
    .sea-next{
        margin-left: -20px;
        a{
            color: $hoverBlue;
            &:hover{
                color: $hoverBlue;
                text-decoration: none;
            }
        }
    }
    
}
.news-next-bg{

    width:100%;
    position: relative;
    height: 50px;
    font-size: 20px; 
    background-color: #f58345;     
    padding-bottom: 20px;  
    .news-next{
        a{
            color: #FFF;
            &:hover{
                color: #FFF;
                text-decoration: none;
            }
        }
    }
    
}

.kopp-next-bg{

    width:100%;
    position: relative;
    height: 50px;
    font-size: 20px; 
    padding-bottom: 20px;  
    .kopp-next{
        a{
            color: $hoverBlue;
            &:hover{
                color: $hoverBlue;
                text-decoration: none;
            }
        }
    }
    
}
.underline-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.underline-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #30a4d5;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.underline-center:hover:before, .underline-center:focus:before, .underline-center:active:before {
  left: 0;
  right: 0;
}